<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>Id: </span>{{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input type="text" id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
