<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/heroes/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label for="new-hero">Create new hero</label>
  <input id="new-hero" #newHeroName />
  <button class="add-button" (click)="create(newHeroName.value); newHeroName.value=''">Create</button>
</div>