<div>
    <label for="search-box">Search heroes</label>
    <input #searchBox id="search-box" type="text" (input)="search(searchBox.value)" />
    <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async">
            <a routerLink="/heroes/{{hero.id}}">
                {{hero.name}}
            </a>
        </li>
    </ul>
</div>
