/* HeroSearch private styles */

label {
    display      : block;
    font-weight  : bold;
    font-size    : 1.2rem;
    margin-top   : 1rem;
    margin-bottom: .5rem;

}

input {
    padding   : .5rem;
    width     : 100%;
    max-width : 600px;
    box-sizing: border-box;
    display   : block;

    &:focus {
        outline: #336699 auto 1px;
    }
}

li {
    list-style-type: none;
}

.search-result li a {
    border-bottom  : 1px solid gray;
    border-left    : 1px solid gray;
    border-right   : 1px solid gray;
    display        : inline-block;
    width          : 100%;
    max-width      : 600px;
    padding        : .5rem;
    box-sizing     : border-box;
    text-decoration: none;
    color          : black;

    &:hover {
        background-color: #435A60;
        color           : white;
    }
}

ul.search-result {
    margin-top  : 0;
    padding-left: 0;
}
